<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New book</title>
</head>
<body>

<form th:method="POST" th:action="@{/books/add}" th:object="${bookInfo}">
    <label for="title">Enter title: </label>
    <input type="text" th:field="*{title}" id="title"/>

    <label for="description">Enter description: </label>
    <input type="text" th:field="*{description}" id="description"/>

    <label for="isbn">Enter isbn: </label>
    <input type="text" th:field="*{isbn}" id="isbn"/>

    <label for="printYear">Enter print year: </label>
    <input type="number" th:field="*{printYear}" id="printYear"/>

    <label >Enter genre name: </label>
    <input type="text" th:field="*{genre}" id="genre"/>
    <label>or select genre: </label>
    <select th:field="*{genre}">
        <option th:each="genre : ${genres}"
                th:value="${genre}"
                th:text="${genre.getName}">
        </option>
    </select>


    <label >Enter author name: </label>
    <input type="text" th:field="*{author}" id="author"/>
    <label>or select author: </label>
    <select th:field="*{author}">
        <option th:each="author : ${authors}"
                th:value="${author}"
                th:text="${author.getName}">
        </option>
    </select>
    <br/>
    <input type="submit" value="Create!"/>
</form>

</body>
</html>