<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Автор</title>
</head>
<body>
<center>
    <big>
<p th:text="${'Id: ' + author.getId() + ', Имя автора: ' + author.getName()}"></p>
<br/>
<label>Книги:</label>
<hr/>
<div th:each="book : ${books}">
    <p th:text="${book.getTitle + '.  Жанр: ' + book.getGenreName}"></p>
</div>
<form th:method="DELETE" th:action="@{/authors/delete/{id}(id=${author.getId()})}">
    <input type="submit" value="Delete"/></form>
    </big>
</center>
</body>
</html>